.bg-hero {
  background-image: url(/public/image/mobile-image-hero-1.jpg);
}

.bg-hero2 {
  background-image: url(/public/image/image-about-dark.jpg);
}
.bg-hero3 {
  background-image: url(/public/image/image-about-light.jpg);
}

.wide-letter-spacing {
  letter-spacing: 0.8rem;
}
.average-letter-spacing {
  letter-spacing: 0.2rem;
}
